<div
  id="popup_fac01_question_machine01"
  class="modal"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">INFOMATION</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6" style="margin: auto 0">
            <img style="width: 100%" src="./imgs/machine/machine01.png" />
          </div>
          <div class="col-6 content">
            <h5>Ariete NS3006</h5>
            <p>
              <b>Homogenizer & High Pressure Pump Technical datasheet</b>
            </p>
            <p>
              <i>
                The Ariete series is the state-of-the-art technology for
                powerful reliable high pressure machines and customized
                solutions.
              </i>
            </p>
            <div class="mt-2">
              <div class="row">
                <div class="col-6" style="text-align: center; padding: 2px">
                  <a
                    class="btn btn btn-info"
                    data-bs-toggle="collapse"
                    href="#standards"
                    role="button"
                    aria-expanded="false"
                    aria-controls="standards"
                    style="padding: 5px 0"
                  >
                    Standards
                  </a>
                </div>
                <div class="col-6" style="text-align: center; padding: 2px">
                  <a
                    class="btn btn-primary"
                    data-bs-toggle="collapse"
                    href="#document"
                    role="button"
                    aria-expanded="false"
                    aria-controls="document"
                    style="padding: 5px 0"
                  >
                    Documentation
                  </a>
                </div>
              </div>

              <p class="collapse" id="standards" style="margin-top: 15px">
                <u><b>Standards</b></u
                ><br />
                The Ariete machines, compliant to EU safety rules (CE standards)
                and built according to EN ISO 9001:2008 Quality System, are the
                best fit for pharmaceutical, dairy, food & beverage,
                biotechnology, chemical and cosmetics industries.
              </p>
              <p class="collapse" id="document" style="margin-top: 15px">
                <u><b>Documentation</b></u
                ><br />
                Homogenizer & High Pressure Pump Technical datasheet
                <br />
                <b
                  ><a
                    href="https://www.gea.com/en/binaries/ariete-NS3006-high-pressure-homogenizer-pump-datasheet_tcm11-38666.pdf"
                    target="_blank"
                    >Machine Documentation
                  </a></b
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="popup_fac01_question_machine02"
  class="modal"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">INFOMATION</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./imgs/machine/machine02_1.png" class="d-block w-100" />
              <div
                class="carousel-caption d-none d-md-block"
                style="
                  font-size: 0.7em;
                  background: #0000008c;
                  border-radius: 10px;
                "
              >
                <p><b>AVAILABLE OPTIOS FOR CUSTOMIZATION</b></p>
                <li>Pressure-priming pump + differential pressure control</li>
                <li>Partial homogenization</li>
                <li>Anybus gateway for signal exchange</li>
              </div>
            </div>
            <div class="carousel-item">
              <img src="./imgs/machine/machine02_2.png" class="d-block w-100" />
              <div
                class="carousel-caption d-none d-md-block"
                style="
                  font-size: 0.7em;
                  background: #0000008c;
                  border-radius: 10px;
                "
              >
                <b><p>DESIGN FEATURES</p></b>
                <li>All components are installed and connected</li>
                <li>Everything is tested in the factory</li>
                <li>Quick installation on site</li>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <b>1. Available options for customization</b>
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <li>Pressure-priming pump + differential pressure control</li>
                <li>Cream cooler</li>
                <li>Post heating for cheese milk</li>
                <li>Yogurt milk treatment</li>
                <li>Partial homogenization</li>
                <li>Lost CIP</li>
                <li>Anybus gateway for signal exchange</li>
                <li>Guard for remote access</li>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <b>2. Design features</b>
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <li>All components are installed and connected</li>
                <li>Everything is tested in the factory</li>
                <li>Quick installation on site</li>
                <li>Minimal installation effort</li>
                <li>Compact design supports the operator - easy operation</li>
                <li>Easy relocation</li>
                <li>
                  Easy to maintain due to special attention of space
                  requirements for dismantling the equipment
                </li>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                <b>3. Centrifuge features</b>
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <li>Optimally integrated into the process</li>
                <li>
                  Pasteurizer and separator are set up to provide the following:
                </li>
                <ol>
                  - Optimal process condition for optimal skimming performance
                </ol>
                <ol>
                  - Optimized CIP process to save time
                </ol>
                <ol>
                  - Possibility to operate the pasteurizer alone
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                <b>4. Automation features: New user-friendly HMI</b>
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <li>Complete process in one window</li>
                <li>Easy overview of process data</li>
                <li>Operation in automatic and manual mode possible</li>
                <li>Trending possibility of different parameters</li>
                <li>
                  Standardization calculator to support the operator to setup
                  the flows correctly
                </li>
                <li>IOT ready</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
